*{
    margin:0 0 0 0;
    padding: 0 0 0 0;
}

.wh{
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.desc-container{
    height: 165px;
}

.nav-circle{
    width: 210px;
    height: 210px;
    background-color: #FFF;
    border-style: solid;
    border-width: 2px;
    border-color: #28a0e8;
    border-radius: 100%;
    display: flex;
    align-content: center;
    z-index: 50;
    position: absolute;
}

.nav-circle img{
    max-width: 205px;
    max-height: 205px;
    border-radius: 100%;
    display: block;
    margin: auto;
    vertical-align: middle;
}

.desc{
    margin-left: 230px;
    color: white;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;    
}

.desc h1{
    font-size: 2.5rem;
    font-weight: 2000;
}

.desc h3{
    font-size: 1rem;
    font-weight: 2000;
    padding-left: 2px; 
}

.desc p{
    padding-top: 5px;
}

.social{
    margin: -5px 0 auto auto;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.social-button{
    background-color: white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    text-align: center;
}

.social-button i{   
    color:#333333;
    font-size:1.3em;
    margin-top: 7px;
}

.social-button i:hover{
    color:#28a0e8;
    font-size:1.4em;
}

/* Nav e Menu */

.nav{
    background: linear-gradient(150deg,rgba(19,106,138,.65) 30%,rgba(38,120,113,.44) 70%) 0 0/cover fixed,url('https://image.ibb.co/dN7PXT/nav.png') center/cover no-repeat fixed;
    width: 100vw;
    height: 165px;
    position: relative;
    display: block;
}

.menu{
    position: relative;
    width: 100vw;
    height: 35px;
    background-color: rgba(51,51,51,1);
    display: block;
    z-index: 0;
}

.menu-container{
    margin: auto 0 auto auto;
    display: flex;
    width: 80%;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
}

.menu-body{
    margin: auto 0;
    display: inline-block;
    margin-right: 15%;
    float: left;
}

.menu-body ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline;
}

.menu-body ul li {
    display: inline;
    padding-right: 5px;
    border-right: 2px solid white;
}

.menu-body ul li:last-child{
    border-right: none;
}

.menu-body ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;    
    font-size: 1.3em;
}

.menu-body ul li a:hover{
    font-weight: bold;
}


.form-search{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3px;
    background-color: white;
    border: #28a0e8 2px solid;
    border-radius: 2rem;
    width: 200px;
}

.form-search input{
    border: none;
    height: 25px;
    width: 170px;
    margin-left: 5px;
}

.form-search button{
    border: none;
    background: none;
}

.form-search button i{
    font-size: 1em;
    color: #333333;
}

.form-search button i:hover{
    color:#28a0e8;
}

/* Seção Body*/

.body{
    margin: 20px auto;
    font-family: 'Raleway',sans-serif;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.box{
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    overflow: hidden;
    width: 380px;
    margin: 5px;
}

.box p{
    padding: 5px 5px 5px 5px;
    color: rgba(102,102,102,1);
    
}

.box h6{
    font-family: 'Raleway', sans-serif;
    color: rgba(102,102,102,1);
    padding: 8px 8px 0px 5px; 
}

.box-img{
    position: relative;
    background-color: #000;     
}

.box-img img{
    display: block;
    max-width: 100%;
    z-index: 0;
}

.box-img img:hover{
    opacity: 0.8;
}

.box-img-text{
    position: absolute;
    bottom: 0;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    max-width: 1;
    padding: 5px 5px;
    z-index: 1;
    text-shadow: 0 2px 6px rgba(0,0,0,.7);
}

.box a{
    background-color: #28a0e8;
    text-decoration: none;
    color:#fff;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    width: 80px;
    padding: 3px;
    margin-bottom: 6px;
    border-radius: 1rem; 
    text-align: center;
}

.box a:hover{
    font-weight: bold;
}

/* Footer*/
.footer-bar{
    width: 100vw;
    height: 35px;
    background-color: rgba(51,51,51,1);
}

.footer{
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.social-footer{
    width: 50%;
    height: 75px;
    display: block;
}

.sb-bottom{
    padding: 6px;
}

.parceiros ul{
    text-align: center;
    list-style: none;
}

.criado{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px; 
}


@media (max-width: 992px) {

    .menu-container{
        width: 70%;
    }
    .menu-body{
        margin-right: 1vw;
    }
    .menu-body ul li a {
        font-size: .8em;
    }
}



@media (max-width: 768px){
    .container{
        width: 95vw;
        padding: 0 1vw;
    }

    .nav{
        height: 515px;
    }

    .nav-circle{
        position: relative;
        margin: 0 auto;
    }

    .desc{
        padding-top: 10px; 
        margin: 0 auto;
        text-align: center;
    }
    
    .social{
        margin: 0 auto;
        padding-top: 10px; 
        justify-content: center;
    }

    .desc-container{
        height: 100%;
        padding-top: 10vh; 
    }

    .menu{
        height: 220px;

    }

    .menu-container{
        width: 100%;
        height: 100%;
        margin: unset;
        padding: unset;
        flex-wrap: unset;
        display: block;
        flex-direction: column;
        justify-content: center;
    }

    .menu-body{
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        float: unset;
    }

    .menu-body ul{
        display: block;
        list-style: unset;
        margin: auto auto;
        width: 40vw;
    }

    .menu-body ul li{
        display: block;
        border-right: none;
        border-bottom: 2px solid white;
        text-align: center;
        padding-right: 0;
    }

    .body{
        margin: 10px auto;
    }

    .footer{
        padding: 10px 0;
        height: 80%;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .criado{
        height: 5%;
    }

    /*Desativado*/

    .form-search{
        margin: 15px auto;
    }

    .form-search input{
        width: 170px;
    }

}



/* Responsividade Iphone 5*/
@media (max-width: 320px){
    .container{
        width: 95vw;
        padding: 0 1vw;
    }

    .nav{
        height: 398px;
    }

    .nav-circle{
        position: relative;
        margin: 0 auto;
    }

    .desc{
        padding-top: 10px; 
        margin: 0 auto;
        text-align: center;
    }
    
    .social{
        margin: 0 auto;
        padding-top: 10px; 
        justify-content: center;
    }

    .desc-container{
        height: 100%;
        padding-top: 3vh; 
    }

    .menu{
        height: 170px;

    }

    .menu-container{
        width: 100%;
        height: 100%;
        margin: unset;
        padding: unset;
        flex-wrap: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-body{
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        float: unset;
    }

    .menu-body ul{
        display: block;
        list-style: unset;
        margin: auto auto;
        width: 40vw;
    }

    .menu-body ul li{
        display: block;
        border-right: none;
        border-bottom: 2px solid white;
        text-align: center;
        padding-right: 0;
    }

    .body{
        margin: 10px auto;
    }

    .footer{
        padding: 10px 0;
        height: 80%;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .criado{
        height: 5%;
    }

    /*Desativado*/

    .form-search{
        margin: 15px auto;
    }

    .form-search input{
        width: 170px;
    }
}
